@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    
}
body{
    box-sizing: border-box;
    background: #F5F5F5;
    font-family: 'Roboto';
}

.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}
.modal-container.show{
    opacity: 1;
    pointer-events: auto;
}
.container.show,
.pokemon.show{
    display: none;
    pointer-events: auto;
}

.modal{
    background: #fff;
    width: 600px;
    max-width: 100%;
    padding: 1rem 2rem;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.modal h1{
    margin: 1rem;
    font-size: 40px;
    color: #333;
}
.modal p{
    font-size: 17px;
    margin: 1rem;
    opacity: 0.8;
}
#close{
    margin: 1rem;
    padding: 1rem;
    background: #30EFA6;
    color: #333;
    font-size: 17px;
    font-weight: 500;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}
.add-items{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    font-weight: 500;
    
}
.add-item-text{
    font-size: 11px;
    font-style: normal;
    line-height: 13px;
    color: #696F79;
    text-shadow: 0.2em 0.2em 0.3em rgba(10, 10, 10, 0.5);
}
.plus-item{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    font-size: 40px;
    margin-left: 1rem;
    background: #30EFA6;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}
.plus-item img{
    width: 25px;
    height: 25px;
    padding: 1.1rem 0rem;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 12rem 2rem 6rem;

}

.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 4px;
    background: #fff;
}
.fifty{
    background: green;
}
.card-content{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}
.card-content h1{
    margin: 0rem 0rem 1.5rem 0rem;
    font-size: 25px;
}
.card-text p{
    font-size: 16px;
    color: #666;
    font-weight: 400;
}
.card-price p{
    color: #000;
    opacity: 0.2;
    font-weight: 500;
    line-height: 47px;
    font-size: 40px;
    padding: 2rem 3rem 2rem 2rem;
}




@media screen and (max-width: 1000px){
    .container{
        padding: 0;
        width: 100%;
    }
    .card-item{
        flex-direction: column;
    }
    .card-content{
        padding: 1rem;
        text-align: center;
    }
}




